#sign_in

  %h1 Se connecter à Dans le Dur !

  = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
    = field_set_tag do
      = f.label :email, t(:email, :scope => [:activerecord, :attributes, :session]) 
      = f.text_field :email, :tabindex => 1
   
      - h = "#{t(:password, :scope => [:activerecord, :attributes, :session])} (#{link_to(t(:forgot_your_password?, :scope => [:devise, :common]), new_password_path(resource_name))})"
      = f.label :password, raw(h)
      = f.password_field :password, :tabindex => 2
   
      .remember-me
        = f.check_box :remember_me, :class => 'checkbox'
        = f.label :remember_me, t(:remember_me, :scope => [:activerecord, :attributes, :session])
   
      = f.submit t(:create, :scope => [:helper, :submit, :session])
 