%li
  %a{:href => medium_path(m)}
    %strong= m.name
    %p= m.tags.join(", ")
    - small = m.created_at.strftime('%d %B, %Y')
    - small << ' - '
    - small << "#{m.views_count} vues"
    %small= small
  = image_tag m.filtered_thumb_url, :alt => m.name
