= field_set_tag do
  = f.label :name
  = f.text_field :name, required: true

  - if f.object.image?
    = f.label "Picture"
    = image_tag(f.object.image.url(:medium))
  - else
    = f.label :url
    = f.url_field :url, required: true
  
  = f.label :tags
  = f.text_field :tag_list

= f.submit