= form_tag media_path, method: :get do
  = label :search, "Search by tag :"
  = text_field_tag :search, params[:search]
  = submit_tag :"Get it!", name: nil
  - if params[:search]
    = link_to 'Clear', '/', class: 'clear-search'

%ul.media-mosaic
  - @medias.each do |m|
    %li{class: m.tag_list}
      .title= m.name
      .image
        = link_to image_tag(m.image.url(:thumb)), medium_path(m)

%p= link_to "ADD A NEW ASS-KICKING PIC - RITE NOW !", new_medium_path, class: "add-medium"

%aside
  .tags
    - tag_cloud(Medium.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| 
      = link_to tag.name, media_path(search: tag.name), :class => css_class