/ .medium
/   .inner
/     = link_to image_tag(@medium.image.url(:medium)), @medium.image.url 
/ 
/ - content_for :aside do
/   %h2
/     = @medium.name
/     - if user_signed_in?
/       %span.tools
/         = link_to "Edit", edit_medium_path(@medium)
/         = " - "
/         = link_to "Delete", medium_path(@medium), method: :delete
/     
/   .date
/     = @medium.created_at.strftime "le %d %B %Y"
/ - content_for :more_aside do
/   %h3 Mais encore !
/   %ul.pagination
/     - if @medium.previous
/       %li= link_to image_tag(@medium.previous.image.url(:icon)), medium_path(@medium.previous)
/     - if @medium.next
/       %li= link_to image_tag(@medium.next.image.url(:icon)), medium_path(@medium.next)
/   %p.shuffle
/     =link_to "On se la joue SHUFFLE ?", medium_path(Medium.order('RANDOM()').first)
/   
/       

#main
  .thumb-display
    %div= image_tag @medium.image.url, :alt => @medium.name

#misc
  .image-infos
    %h1= @medium.name
    %small= @medium.created_at.strftime('%B %d, %Y')
    .social
      = link_to "Partager !", "#", :class => "twitter"
      = link_to "Partager !", "#", :class => "facebook"

  %ul.tags
    - @medium.tags.each do |tag|
      %li= link_to tag.name, media_path(search: tag.name)
  

  %h2 Mais encore !
  .more-pagination
    - if @medium.previous
      .prev
        %a{:href => medium_path(@medium.previous)}
          %span
          = image_tag @medium.previous.image.url(:icon), :alt => @medium.previous.name
    .next
      - if @medium.next
        %a{:href => medium_path(@medium.next)}
          %span
          = image_tag @medium.next.image.url(:icon), :alt => @medium.next.name

  = link_to "On se la joue shuffle ?!", medium_path(Medium.order('Random()').last), :class => "shuffle"
  - if current_user
    = link_to "Modifier", edit_medium_path(@medium), :class => "shuffle"
    = link_to "Supprimer", delete_medium_path(@medium), :class => "shuffle", :'data-confirm' => 'Are you sure?'
