#main
  .thumb-display
    %div= image_tag @medium.image.url, :alt => @medium.name

#misc
  .image-infos
    %h1= @medium.name
    %small= @medium.created_at.strftime('%B %d, %Y')
    .social
      = link_to "Partager !", "#", :class => "twitter"
      = link_to "Partager !", "#", :class => "facebook"

  %ul.tags
    - @medium.tags.each do |tag|
      %li= link_to tag.name, media_path(search: tag.name)
  

  %h2 Mais encore !
  .more-pagination
    // XXX class names mismatch
    - _next = @medium.next
    .prev{class: _next.present? ? "" : "empty"}
      - if _next
        %a{:href => medium_path(_next)}
          %span
          = image_tag _next.image.url(:icon), :alt => _next.name
    
    - _prev = @medium.previous
    .next{class: _prev.present? ? "" : "empty"}
      - if _prev
        %a{:href => medium_path(_prev)}
          %span
          = image_tag _prev.image.url(:icon), :alt => _prev.name

  = link_to "Fullscreen", medium_path(@medium, fullscreen: 1), :class => "shuffle fullscreen positive"
  = link_to "On se la joue shuffle ?!", medium_path(Medium.order('Random()').last), :class => "shuffle"
  - if current_user
    = link_to "Modifier", edit_medium_path(@medium), :class => "shuffle"
    = link_to "Supprimer", delete_medium_path(@medium), :class => "shuffle", :'data-confirm' => 'Are you sure?'
