!!! html
%html
  %head
    %title= "Dansledur"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags 

  %body
    %header
      %h1= link_to "Dans le dur", '/'
      .login
        - if user_signed_in?
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_session_path

      .search
        = form_tag media_path, method: :get do
          = text_field_tag :search, params[:search]
          = submit_tag
          -# if params[:search]
            =# link_to 'Clear', '/', class: 'clear-search'
      %ul.nav
        %li= link_to "Home", "/"
        %li= link_to "Hall of Fame", "#"
        %li.last= link_to "About", "#"

    - if flash[:notice]
      .notice= flash[:notice]
    #main
      = yield
    %aside
      = yield :aside
      %h3 Tags Populaires!
      .tags
        - tag_cloud(Medium.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| 
          .tag
            .tag-inner= link_to tag.name, media_path(search: tag.name), :class => css_class
      .clear
      = yield :more_aside